@using Atypical.Web.Models.Bank

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mood Diary</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="/Home/Index">Navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
            </button>


            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="/Home/Index">
                            Home
                            <span class="visually-hidden">(current)</span>
                        </a>
                    </li>
                    @if (Session["username"] == null)
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="/User/Login">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/User/Create">Sign Up</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown dropdown-toggle" data-bs-toggle="dropdown"
                               role="button" aria-haspopup="true" aria-expanded="false" href="/Entry/View">
                                Diary
                                <i class="fa fa-caret-down"></i>
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="/Entry/View">View</a>
                                <a class="dropdown-item" href="/Entry/New">New Entry</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/Chart/Weekly">Chart Data</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/User/Logout">Logout</a>
                        </li>
                    }
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Separated link</a>
                        </div>
                    </li>
                </ul>

                <div class="d-flex">
                    <div id="money-partial">
                        @{
                            Html.RenderPartial("_Money", new BankAccountViewModel());
                        }
                    </div>

                </div>
            </div>
        </div>
    </nav>


    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2021 - Harley Johnson</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)



</body>
</html>
