@using Atypical.Web.Models.User
@model NewPasswordViewModel

@{
    ViewBag.Title = "New Password";
}

@Styles.Render("~/Content/login.css")

<h2>Reset Password</h2>


<div id="reset-password">

    <div class="form-horizontal">
        Good job! Now what would you like your new password to be?
        <br /><br />
    </div>

    @using (Html.BeginForm("SetPassword", "User",
    FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()



        <div class="form-horizontal">

            <div class="form-group">
                <div class="col-md-10">New Password: </div>
                <div class="col-md-10">
                    @Html.PasswordFor(model => model.NewPassword)
                    <br />
                    <span class="code-error">
                        @Html.ValidationMessageFor(model => model.NewPassword)
                    </span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10">Confirm Password: </div>
                <div class="col-md-10">
                    @Html.PasswordFor(model => model.ConfirmPassword)
                    <br />
                    <span class="code-error">
                        @Html.ValidationMessageFor(model => model.ConfirmPassword)
                    </span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10">
                    <input type="submit" id="set-password-button"
                           value="Set Password" class="btn btn-default" />
                </div>
            </div>

        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}